// .cover {
//     max-height: 600px;
//     img {
//         width: 100%;
//     }
// }
.game {
    display: flex;
    .game-board {
        flex-shrink: 1;
    }
    .game-message {
        flex-grow: 1;
    }
}